@font-face {
  font-family: 'Open Sans';
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Open Sans, arial, sans-serif;
  margin: 0;
}

a:hover, .menu-item a:hover {
  text-decoration: underline;
}

/* header */

.header {  
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
  background-size: cover;
  position: relative;
  color: #fff;
}

.header::after {
  content: "";
  position: absolute;
  background-color: #000000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.header-inner {
  width: 1200px;
  min-height: 449px;
  margin: 0 auto;  
  padding-left: 18px;
  padding-right: 15px;   
}

.header-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  /* padding-right: 10px;
  padding-left: 10px; */
}

.logo {
  width: 179px;
  height: 40px;
}


.menu-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  /* margin-top: 10px; */
  margin-bottom: 0;
  padding-left: 0;
}

.menu-item:nth-child(n+2) {
  margin-left: 36px;
}

.title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 381px;
}

.header-title {
  font-size: 45px;
  position: relative;
  z-index: 1;
  text-align: center;
  text-transform: uppercase; 
  line-height: 75px;
  margin-bottom: 20px; 
}

/* /header */


/*main*/

.main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 15px;
}



/*section*/

.section-title {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.posts-item {
  display: flex;
  align-items: flex-start;
}

.post-item-link-img {
  margin-top: 4px;
}

.posts-item:nth-child(n+3) {
  margin-top: 51px;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.posts-item img {
  width: 381px;
  height: 294px;
}

.post-desription {
  width: 367px;
  margin-left: 30px;
}

.post-category {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.post-category-item:nth-child(n+2) {
  margin-left: 20px;
}

.post-category-item {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.post-category-link {
  color: #b59f5b;  
  text-decoration: none;
}

.post-name {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 700;
  display: block;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  line-height: 24px;
}


.date {
  display: inline-block;
  font-size: 12px;
  color: #888888;
}

.author {
  display: inline-block;
  margin-left: 13px;
  font-size: 12px;
  font-weight: 700;
}


.post-info {
  margin-top: 28px;
}


.post-text {
  margin-top: 45px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

/*/section*/





.aside {
  width: 276px;
}

.sidebar-heading {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.sidebar-heading:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.resent-posts-item {
  display: flex;
}

.resent-posts-item:nth-child(n+3) {
  margin-top: 12px;
}

.resent-posts-item img {
  height: 70px;
  width: 70px;  
}

.resent-post-img-link {
  margin-top: 4px;
}

.recent-post-description {
  margin-left: 19px;
}

.recent-post-date {
  font-size: 12px;
  color: #888888;
  vertical-align: top;
}

.recent-posts-h3 {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  line-height: 18px;
}


.search-form {
  margin-top: 57px;
}

.search-form-text {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.search {
  height: 48px;
  width: 222px;
  border: 0;
  background: #f4f7f6;
  font-size: 13px;
  font-family: inherit;
  padding-left: 19px;
  vertical-align: middle;
}

.search-button {
  height: 48px;
  width: 48px;
  background-color: #b59f5b;
  border: 0;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-position: center center;
  cursor: pointer;
}

.search:focus, .email:focus {
  outline: 1px solid #b59f5b;
}

.search-button:hover, .email-button:hover {
  background-color: #ddcfa2;
  color: #000000;
}

.search-button-text {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.newsletter {
  margin-top: 58px;
}

.newssletter {
  padding-right: 5px;
}


.newssletter-text {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.newsletter:after, .tags-heading::after, .categories-heading::after {
  margin-bottom: 24px;
}

.email-button, .email {
  display: block;
  width: 100%;
  height: 48px;
}

.email-button {
  margin-top: 18px;
  background-color: #b59f5b;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
}

.email {
  padding-left: 19px;
  font-family: inherit;
  font-size: 13px;
  background-color: #f4f7f6;
  border: 0;
}

.tags-heading {
  margin-top: 55px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

.tags {  
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;   
  list-style: none;
}

.tags-link {
  display: block;
  padding: 4px 14px;
  text-decoration: none;
  color: #000000;
  border: 3px solid #eeeeee;
}

.tags:nth-child(3n+2) {
  margin-left: 5px;
  margin-right: 5px;
}

.tags:nth-child(n+4) {
  margin-top: 6px;
}

.tags-link:hover {
  background-color: black;
  border: 3px solid #000000;
  color: #fff; 
}


.categories-heading {
  margin-top: 52px;
}

.link-container {
  list-style: none;
}

.link-container:after {
  content: "";
  display: block;  
  height: 1px;
  background-color: #eeeeee;
  margin-top: 13px;
  margin-bottom: 11px;  
}

.categorie-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  padding-left: 2px;
  vertical-align: bottom;
}

.posts-number {
  font-size: 12px;
  font-weight: 700;
  color: #b59f5b;
  vertical-align: top;
}


/*footer*/

.footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 66px;
}


.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f7f6;
  min-height: 83px;  
  list-style: none;
}

.social-list-item:nth-child(n+2) {
  margin-left: 27px;
}

.social-links {
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  background-size: 20px;
  text-decoration: none;
  display: block;
}

.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}


.socials-link-Twitter {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg");
  width: 25px;
  height: 21px;
  background-size: 25px;
}

.socials-link-Pinterest {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
}

.socials-link-Facebook {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg");
}

.socials-link-Istagram {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg");
}

.socials-link-Tumblr {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}

.copyright {
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #999999;
  display: block;
  margin-top: 71px;
  margin-bottom: 33px;
  padding-left: 15px;
}

/*/footer*/